<!-- <div class="row mx-0 h-100 justify-content-center align-items-center">
    <div class="col-12 col-md-12 mx-auto">
        <div class="sticky-section">
            <p class="f-18 text-center mb-5">Please contact your administrator for assistance.</p>
            <div class="text-center">
                <button type="button" class="btn btn-primary f-20 py-2" (click)="back()">Return to Sign In</button>
            </div>

        </div>
    </div>
</div> -->


<div class="sticky-section pt-4 app-user">
	<div  *ngIf="!modalMessage.Visibility">
		<div class="d-flex align-items-center justify-content-between ">
			<h2 class="mb-4" role="region" aria-label="heading">Forgot Username</h2>
			<!-- <i aria-hidden="true" (click)="hidePopup()" class="fa fa-times-circle d-flex justify-content-end mb-4" style="cursor: pointer;color: #000000 !important"></i> -->
		</div>

		<form [formGroup]="forgetUserNameForm" (ngSubmit)="onSubmit()">

			<div class="form-group">
				<!-- <label for="LastName">{{'Lastname' | translate: 'Login'}}</label> -->
				<div class="input-group mb-3">
					<input type="text" id="LastName" class="input form-control" pInputText [placeholder]="'Lastname' | translate: 'Login'" formControlName="LastName" autofocus autocomplete="off">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fa fa-info-circle fa-lg cursor-pointer" pTooltip="Enter your last name as it appears on the letter or email you received from Consova." [tooltipZIndex]="100000"></i></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<!-- <label for="ConsovaPIN">{{'ConsovaPIN' | translate: 'Login'}}</label> -->
				<div class="input-group mb-3">
					<input type="password" id="ConsovaPIN" class="input form-control" pInputText pKeyFilter="pnum" [placeholder]="'ConsovaPIN' | translate: 'Login'" formControlName="ConsovaPIN" autocomplete="off">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fa fa-info-circle fa-lg cursor-pointer" pTooltip="Enter the PIN found in the letter or email you received from Consova." [tooltipZIndex]="100000"></i></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<!-- <label for="EmployeeSSN">{{'EmployeeSSN' | translate: 'Login'}}</label> -->
				<div class="input-group mb-3">
					<input type="password" id="EmployeeSSN" class="input form-control" pInputText pKeyFilter="pnum" [placeholder]="'EmployeeSSN' | translate: 'Login'" formControlName="EmployeeSSN" maxlength="4" autocomplete="off">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fa fa-info-circle fa-lg cursor-pointer" pTooltip="Enter the last 4 digits of your Social Security Number." [tooltipZIndex]="100000"></i></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="d-flex w-100 justify-content-center align-items-center">
					<button type="button" class="btn btn-idle mr-md-2 mr-2 w-50" (click)="hidePopup()">Cancel</button>
					<button type="submit" class="btn btn-primary btn-block w-50" [disabled]="forgetUserNameForm.invalid">{{'Submit' | translate: 'Contact'}}</button>
					<!-- <button type="submit" class="btn btn-primary btn-block f-20 py-2" (click)="showDataEntry()">data entry</button> -->
				</div>
			</div>
		</form>
		<app-loader *ngIf="showForgetUsernameLoader"></app-loader>
	</div>

	<div  *ngIf="modalMessage.Visibility">
		<div class="f-18 text-center">
			<div *ngIf="modalMessage.Message.length > 0">
				<p><img src="./assets/images/ic_error.svg" class="img-fluid" alt="Passcode"></p>
				<div [innerHTML]="modalMessage.Message" class="text-danger mb-3 py-3"></div>
			</div>

			<div *ngIf="modalMessage.Message.length === 0">
				<h2 class="mb-2">Forgot Username</h2>
				<p><img src="./assets/images/ic_passcode.svg" class="img-fluid" alt="Passcode"></p>
				<p class="f-16 font-weight-bold my-4">Username has been sent to your Email</p>
				<p class="f-13">Please check your inbox for Username </p>
			</div>

			<button type="button" class="btn btn-primary btn-block f-20 py-2" (click)="hidePopup()">OK</button>
		</div>
	</div>

</div>

<!-- <p-dialog header="Authentication" styleClass="col-lg-3 col-md-6 col-sm-6 col-12" [(visible)]="modalMessage.Visibility" [modal]="true" [blockScroll]="true" [resizable]="false" [draggable]="false" [responsive]="true" [focusOnShow]="false" [minY]="70" [baseZIndex]="100000"
    [closable]="false">
    <div class="sticky-section f-18 text-center">
        <div *ngIf="modalMessage.CSSClass == 'text-danger'">
            <p><img src="./assets/images/ic_error.svg" class="img-fluid" alt="Passcode"></p>
            <div [innerHTML]="modalMessage.Message" class="text-danger mb-3 py-3" [ngClass]="modalMessage.CSSClass"></div>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-primary f-20 py-2" (click)="returnsign()">Return to Sign In</button>
        </div>
    </div>

    <! <div class="py-3 px-3" [ngClass]="modalMessage.CSSClass" [innerHTML]="modalMessage.Message"></div>
    <p-footer>
        <button type="button" class="btn btn-primary py-1 f-14" style="min-width: auto;" (click)="modalMessage.Visibility = false">OK</button>
    </p-footer> -
</p-dialog> -->
