<app-breadcrumb-bar></app-breadcrumb-bar>

<div class="col-12 order-sm-3" role="region" aria-label="Privacy">
    <div class='privacyPolicy'>
        <div class="privacyTxt">
            <div class="privacyTopHeader">
                Consova Corporation recognizes that the privacy of your personal information is important.
            </div>
            <br>

            <div class="privacyContent">
                <p>
                    This privacy policy is designed to explain to you what personal information Consova Corporation collects about you, and the use to which Consova Corporation puts that information.
                </p>
                <p>
                    The policy also explains how your personal information is kept safe and secure from inappropriate disclosure or use.
                </p>
                <p>
                    Consova Corporation maintains appropriate physical, electronic and administrative security standards and procedures to safeguard personally identifiable information and protected health information maintained in our systems and our physical possession.
                </p>
                <p>
                    Our employees are educated on the importance of our privacy and security policies and must comply with them.
                </p>
                <p>
                    Consova Corporation employees are permitted to access and use only that personal and proprietary information they need to perform their job duties consistent with HIPAA privacy and security regulations.
                </p>
            </div>
            <br>

            <div class="row">
                <div class="col-12 col-md-3 px-0 px-md-2">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link active" id="v-pills-Collection-tab" data-toggle="pill" href="#v-pills-Collection" role="tab" aria-controls="v-pills-Collection" aria-selected="true">Collection and Use of Personal
							Information</a>

                        <a class="nav-link" id="v-pills-Disclosure-tab" data-toggle="pill" href="#v-pills-Disclosure" role="tab" aria-controls="v-pills-Disclosure" aria-selected="false">Disclosure of Personal
							Information</a>

                        <a class="nav-link" id="v-pills-Retention-tab" data-toggle="pill" href="#v-pills-Retention" role="tab" aria-controls="v-pills-Retention" aria-selected="false">Retention of Personal
							Information</a>

                        <a class="nav-link" id="v-pills-Protection-tab" data-toggle="pill" href="#v-pills-Protection" role="tab" aria-controls="v-pills-Protection" aria-selected="false">Protection of Personal
							Information</a>

                        <a class="nav-link" id="v-pills-Accuracy-tab" data-toggle="pill" href="#v-pills-Accuracy" role="tab" aria-controls="v-pills-Accuracy" aria-selected="false">Accuracy of Personal
							Information</a>

                        <a class="nav-link" id="v-pills-Access-tab" data-toggle="pill" href="#v-pills-Access" role="tab" aria-controls="v-pills-Access" aria-selected="false">Access to Personal
							Information</a>

                        <a class="nav-link" id="v-pills-Consova-tab" data-toggle="pill" href="#v-pills-Consova" role="tab" aria-controls="v-pills-Consova" aria-selected="false">Consova Privacy
							Officer</a>

                        <a class="nav-link" id="v-pills-Filing-tab" data-toggle="pill" href="#v-pills-Filing" role="tab" aria-controls="v-pills-Filing" aria-selected="false">Filing a Complaint</a>
                    </div>
                </div>
                <div class="col-12 col-md-9 px-0 px-md-2">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-Collection" role="tabpanel" aria-labelledby="v-pills-Collection-tab">
                            <div class="pillsContent">
                                <ul>
                                    <li>
                                        Consova Corporation ensures that it limits its requests for information to what is truly required to ensure excellent service.
                                    </li>
                                    <li>
                                        Most of the information Consova Corporation collects about you is basic information that we need to conduct a dependent eligibility verification audit, or an overpayment recovery audit.
                                    </li>
                                    <li>
                                        Examples of information that may be collected to complete an audit may include things such as your name, address, and telephone number, date of birth, social security number, marital status, and medical record information.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-Disclosure" role="tabpanel" aria-labelledby="v-pills-Disclosure-tab">
                            <div class="pillsContent">
                                <ul>
                                    <li>
                                        Generally, Consova Corporation does not sell or otherwise share your personal information with any third party.
                                    </li>
                                    <li>
                                        However, we may share your information with affiliates of the firm and nonaffiliated third parties who perform services or functions for us in conjunction with our services to you, but only if we have a contractual agreement with the other party which
                                        prohibits them from disclosing or using the information other than for the purposes for which it was disclosed.
                                    </li>
                                    <li>
                                        Consova Corporation shares your personal information internally with only those staff members who need it to complete the audit.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-Retention" role="tabpanel" aria-labelledby="v-pills-Retention-tab">
                            <div class="pillsContent">
                                <ul>
                                    <li>
                                        Generally, Consova Corporation keeps your personal information only as long as it needs to in order to fulfill the purpose for which it was collected.
                                    </li>
                                    <li>
                                        For example, if you send a document to verify your marriage Consova Corporation will retain that document long enough to complete the audit and for a reasonable time thereafter to ensure there is no further follow-up required.
                                    </li>
                                    <li>
                                        In some cases, Consova Corporation is required by law or contract to retain your personal information for a specified period of time.
                                    </li>
                                    <li>
                                        Consova Corporation disposes of personal information in accordance with our contractual obligations or legal requirement. Personal information is disposed of in a manner that prevents loss, theft, misuse or unauthorized access.
                                    </li>
                                    <li>
                                        For example, written documents are shredded with at least a level 3 cross cut shredder.
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="v-pills-Protection" role="tabpanel" aria-labelledby="v-pills-Protection-tab">
                            <div class="pillsContent">
                                <ul>
                                    <li>
                                        Only those staff members who need the information to complete the audit are given access to it.
                                    </li>
                                    <li>
                                        Employees are provided with training and information regarding the proper handling of personal information of Consova Corporation clients and client employees.
                                    </li>
                                    <li>
                                        All information stored in our computer system is encrypted at rest and in motion, and is protected from access by unauthorized users.
                                    </li>
                                    <li>
                                        Information that is stored in document form is kept in secure, locked offices to prevent access by unauthorized persons.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-Accuracy" role="tabpanel" aria-labelledby="v-pills-Accuracy-tab">
                            <div class="pillsContent">
                                <ul>
                                    <li>
                                        Consova Corporation relies on our clients and customers to ensure the accuracy of the information received for audit purposes.
                                    </li>
                                    <li>
                                        Should inaccurate information come to our attention, we will investigate the matter, correct the information, and, if necessary, advise you that the information has been corrected.
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-Access" role="tabpanel" aria-labelledby="v-pills-Access-tab">
                            <div class="pillsContent">
                                <ul>
                                    <li>
                                        Consova is committed to ensuring that we have no personal information about individuals that is not absolutely necessary to provide them with excellent service.
                                    </li>
                                    <li>
                                        Consova will provide you with information we have about you upon your request.
                                    </li>
                                    <li>
                                        In some cases, Consova may not be able to provide you with all the information we have about you.
                                    </li>
                                    <li>
                                        This would occur if provision of the information could lead to disclosure of another individual’s personal information, or where laws or regulations prevent disclosure.
                                    </li>
                                    <li>
                                        To ensure compliance Consova has appointed a privacy officer to oversee all aspects of its privacy policy and practices.
                                    </li>
                                    <li>
                                        If you wish to know what information Consova currently has about you, you should send a written request
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-Consova" role="tabpanel" aria-labelledby="v-pills-Consova-tab">
                            <div class="pillsContent">
                                <ul>
                                    <li>
                                        Consova<br> 143 Union Blvd., Suite 800
                                        <Br/>Lakewood, CO 80228
                                    </li>
                                    <li>
                                        Our privacy officer will respond to your request within 30 days. If you become aware that the information we have about you is incorrect, you should notify the privacy officer, who will ensure the information is updated.
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-Filing" role="tabpanel" aria-labelledby="v-pills-Filing-tab">
                            <div class="pillsContent">
                                <ul>
                                    <li>
                                        If you are dissatisfied with Consova’s privacy practices you should make a written complaint to the privacy officer.
                                    </li>
                                    <li>
                                        The privacy officer will investigate the matter and take corrective action where necessary. The privacy officer will then report back to you and advise you of any steps taken to correct the problem.
                                    </li>
                                    <li>
                                        If you are still unsatisfied with the response you get, you may be entitled to make a written complaint to the appropriate legal authority.
                                    </li>
                                    <li>
                                        Consova Privacy Officer<br> Consova
                                        <br> 143 Union Blvd., Suite 800
                                        <Br/>Lakewood, CO 80228
                                    </li>
                                    <li>
                                        Identity Theft<br> If you think you are a victim of identity theft, please go to the Federal Trade Commission’s website. This website provides valuable information on how to detect, deter, and defend against ID
                                        theft.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>