<div class="row mx-0 h-100 justify-content-center align-items-center">
    <div class="col-12 col-md-12 mx-auto">

		<div class="sticky-section" *ngIf="!modalMessageRestPwd.Visibility && !showPasswordReset && !showVerifyPassword && !showResetPassword">
            <h2 class="mb-4">Reset Password</h2>
            <div class="f-18 alert alert-success fade show" role="alert">
                <!-- <p class="mb-0">Enter your User Name and instructions will sent to your Email</p> -->
				<p class="mb-0">Please Enter your User Name</p>
            </div>

            <form [formGroup]="usernameForm">
                <div class="form-group">
                    <label class="required" for="emailAddress">User Name</label>
                    <!-- <input type="email" class="form-control" name="email" #email="ngModel" id="emailAddress" autocomplete="off" autofocus required [(ngModel)]="emailAddress" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"> -->
                    <input type="text" id="usernametxt" formControlName="username" class="input form-control" placeholder="User Name" maxlength="255" autocomplete="off" autofocus>
				</div><!--added by rahul-->
                <div class="form-group">
                    <div class="d-flex w-100 justify-content-center align-items-center">
                        <button type="button" class="btn btn-idle mr-md-2 mr-2" (click)="onClose(true)">Cancel</button>
                        <button type="submit" class="btn btn-primary w-75" (click)="verifyUserName()" [disabled]="!validateUserName()">Verify UserName</button>
                    </div>
                </div>
            </form>
            <!-- <p class="f-14 backTo">Oh wait! I remembered! <br>
						<span class="link" (click)="onClose(true)">Back to Sign In</span>
				</p> -->
        </div>

        <div class="sticky-section" *ngIf="showPasswordReset && !modalMessageRestPwd.Visibility && !showVerifyPassword && !showResetPassword">
            <h2 class="mb-4">Reset Password</h2>
            <div class="f-18 alert alert-success fade show" role="alert">
                <!-- <p class="mb-0">Enter your User Name and instructions will sent to your Email</p> -->
				<p class="mb-0">Please Enter your Email or Mobile Number</p>
            </div>

            <form [formGroup]="passwordResetForm">
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <!-- <input type="email" class="form-control" name="email" #email="ngModel" id="emailAddress" autocomplete="off" autofocus required [(ngModel)]="emailAddress" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"> -->
                    <input type="text" id="emailAddress" formControlName="emailAddress" [readonly]="isValidMobileNumber"  class="input form-control" placeholder="Email Address" maxlength="255" autocomplete="off" autofocus>
                </div>
				<div class="form-group">
                    <label  for="mobileNumber">Mobile Number</label>
                    <p-inputMask mask="(999) 999-9999" placeholder="(999) 999-9999" [disabled]="isValidEmail" characterPattern="^\\d{5}(-\\d{4})?$" (keyup)="changeField()" styleClass="form-control my-1" formControlName="mobileNumber"
                                        name="phone"></p-inputMask>
                </div>
                <div class="form-group">
                    <div class="d-flex w-100 justify-content-center align-items-center">
                        <button type="button" class="btn btn-idle mr-md-2 mr-2" (click)="onClose(true)">Cancel</button>
                        <button type="submit" class="btn btn-primary w-75" (click)="forgotPassword()" [disabled]="!validateCommEmail()">Send Authentication Code</button>
                    </div>
                </div>
            </form>

            <!-- <p class="f-14 backTo">Oh wait! I remembered! <br>
						<span class="link" (click)="onClose(true)">Back to Sign In</span>
				</p> -->
        </div>

		<div class="sticky-section" *ngIf="showVerifyPassword && !modalMessageRestPwd.Visibility">

			<h2 class="mb-4">Verify Authentication Code</h2>
            <div class="f-18 alert alert-success fade show" role="alert">
                <!-- <p class="mb-0">Enter your User Name and instructions will sent to your Email</p> -->
				<p class="mb-0">Please Verify your Authentication Code</p>
            </div>

			<form [formGroup]="otpVerifyForm">
			<div class="input-group mb-3" style="display: flex; align-items: center !important">
				<div class="input-group-prepend">
					<span class="my-2">
				<!-- <img src="./assets/images/ic_password_input_field.svg" alt="Password"> -->
			</span>
				</div>
				<!-- <input type="password" id="opt" class="input form-control" pInputText pKeyFilter="pnum" placeholder="Enter OTP" formControlName="opt" maxlength="4" autocomplete="off"> -->
				<div class="col-7 pl-0 pr-3">
					<input type="text" class="input form-control" pInputText pKeyFilter="pnum" formControlName="emailOtp" placeholder="Enter Authentication Code" maxlength="6" id="opt" autocomplete="off" style="padding: 10px !important" (keyup)="validateCommEmailOTP()" (paste)="paseteEmailOTP($event)">
				</div>
				<div class="col-5 px-0">
					<button class="btn btn-outline-primary" type="button" [disabled]="!isValidEmailOTP" (click)="verifyemailOtp()" style="width: calc(100% - 0px);padding-left: 3px; padding-right: 2px;">Verify Authentication Code</button>
				</div>
			</div>
			<div class="input-group mb-3" style="display: flex; align-items: center !important">
				<div class="col-7 pl-0 pr-3">
					<span> <span class="font-weight-bold">Resend Authentication Code</span> in {{startTimeCounter}}</span>
				</div>
				<div class="col-5 px-0">
					<button class="btn btn-outline-primary" type="button" [disabled]="!enableResendOTP" (click)="forgotPassword()" style="width: calc(100% - 0px);padding-left: 3px; padding-right: 2px;">Resend Authentication Code</button>
				</div>
			</div>
			</form>
			<app-loader *ngIf="showVerificationLoader"></app-loader>
		</div>

        <div class="sticky-section" *ngIf="modalMessageRestPwd.Visibility">
            <div class="f-18 text-center">
                <div *ngIf="modalMessageRestPwd.Message.length > 0">
                    <p><img src="./assets/images/ic_error.svg" class="img-fluid" alt="Passcode"></p>
                    <div [innerHTML]="modalMessageRestPwd.Message" class="text-danger mb-3 py-3"></div>
                </div>

                <div *ngIf="modalMessageRestPwd.Message.length === 0">
                    <h2 class="mb-2">Password Reset</h2>
                    <p><img src="./assets/images/ic_passcode.svg" class="img-fluid" alt="Passcode"></p>
                    <p class="f-16 font-weight-bold my-4">A password reset link has been sent to your Email</p>
                    <p class="f-13">Please check your inbox and follow the instruction provided to reset your password</p>
                </div>

                <button type="button" class="btn btn-primary btn-block f-20 py-2" (click)="onClose(modalMessageRestPwd.Message.length === 0)">OK</button>
            </div>
        </div>

		<div class="sticky-section" *ngIf="showResetPassword">
			<app-reset-password [employeeId]="employeeId"></app-reset-password>
		</div>
    </div>
</div>



<app-loader *ngIf="showLoader"></app-loader>
