<!-- <div class="row mx-0 h-100 justify-content-center align-items-center changePassword">
    <div class="col-12 col-md-3 mx-auto"> -->
        <!-- <img src="./assets/images/consova_logo.png" class="d-block img-fluid mx-auto mb-4" alt="Consova">
        <div class="sectionTopbar"></div> -->
        <div class="changerePassword"  *ngIf="!modalMessage.Visibility">
            <h2 class="mb-4">New Password</h2>
            <div class="f-18 alert alert-success alert-dismissible fade show" role="alert">
                <p class="mb-0">Enter your new password.<br>Keep it strong and memorable!</p>
            </div>

            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

                <div class="form-group d-flex align-items-baseline mb-2">
					<div class="input-group">
						<!-- <label>Password</label> -->
						<!-- <input type="password" class="form-control" formControlName="password" maxlength="255" autofocus pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$" autocomplete="new-password" (input)="onPasswordTexted($event.target.value)" placeholder="Enter New Password"> -->
						<input [type]="showAccountPassword ? 'text' : 'password'" class="form-control" formControlName="password" maxlength="15" autofocus pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$" autocomplete="new-password" (focus)="opPasswordInfo.show($event)" (input)="onPasswordTexted($event.target.value)"
						(focusout)="opPasswordInfo.hide()" placeholder="Enter New Password" style="padding-left: 5px !important;">
						<p-overlayPanel #opPasswordInfo [showCloseIcon]="false" [dismissable]="false">
							<ul class="mb-0 f-13">
								<li [class]="passwordTooltip.MinCharacter.Style">{{passwordTooltip.MinCharacter.Text}}</li>
								<li [class]="passwordTooltip.UpperCase.Style">{{passwordTooltip.UpperCase.Text}}</li>
								<li [class]="passwordTooltip.LowerCase.Style">{{passwordTooltip.LowerCase.Text}}</li>
								<li [class]="passwordTooltip.Numbers.Style">{{passwordTooltip.Numbers.Text}}</li>
								<li [class]="passwordTooltip.SpecialCharacters.Style">{{passwordTooltip.SpecialCharacters.Text}}</li>
							</ul>
						</p-overlayPanel>

							<div class="input-group-prepend" style="right: 0">
								<span class="input-group-text">
									<!-- <img src="./assets/images/ic_view.svg" alt="Password"> -->
									<i *ngIf="resetPasswordForm.get('password').value != ''" style="cursor:pointer" [ngClass]="showAccountPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"  (click)="showAccountPassword = !showAccountPassword"></i>
								</span>

							</div>
						</div>
                </div>


                <div class="form-group">
					<div class="input-group">
                    <!-- <label>Confirm Password</label> -->
                    <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" maxlength="15" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$" autocomplete="new-password" placeholder="Confirm Password" style="padding-left: 5px !important;">

						<div class="input-group-prepend" style="right: 0">
							<span class="input-group-text">
								<!-- <img src="./assets/images/ic_view.svg" alt="Password"> -->
								<i *ngIf="resetPasswordForm.get('confirmPassword').value != ''" style="cursor:pointer" [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"  (click)="showConfirmPassword = !showConfirmPassword"></i>
							</span>

						</div>
					</div>
				</div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetPasswordForm.valid || resetPasswordForm.controls.confirmPassword.errors">Save Password</button>
                </div>

				<div class="px-0 py-0 mt-1">
					<p class="pb-0 mb-2"><strong>Your password must include each of the following:</strong></p>
					<!-- </div>
	<div class="row px-0 py-0 d-flex align-items-center mb-2"> -->
					<ul class="px-3 pb-0 mb-0" style="margin-left: 5px;">
						<li class="mb-2">Minimum of 8 characters length</li>
						<li class="mb-2">Maximum of 15 characters length</li>
						<li class="mb-2">At least one upper case letter</li>
						<li class="mb-2">At least one lower case letter</li>
						<li class="mb-2">At least one number</li>
						<li>At least one special character</li>
					</ul>
				</div>
            </form>
        </div>

		<div class="sticky-section" *ngIf="modalMessage.Visibility">
             <div class="sticky-section f-18 text-center">
				<div *ngIf="modalMessage.CSSClass === 'alert-success'">
					<h2 class="mb-2">Password Update</h2>
					<p><img src="./assets/images/ic_passcode.svg" class="img-fluid" alt="Passcode"></p>
					<p class="f-16 font-weight-bold my-4">Your password has been successfully updated</p>
					<p class="f-13">Please login using your new password</p>
				</div>

				<div *ngIf="modalMessage.CSSClass !== 'alert-success'">
					<p><img src="./assets/images/ic_error.svg" class="img-fluid" alt="Passcode"></p>
					<div [innerHTML]="modalMessage.Message" class="text-danger mb-3 py-3"></div>
				</div>

				<p-footer>
					<button type="button" class="btn btn-primary btn-block" *ngIf="modalMessage.CSSClass !== 'alert-success'" (click)="onModalMessageClose()">OK</button>
					<button type="submit" class="btn btn-primary btn-block" *ngIf="modalMessage.ActionStatus && modalMessage.CSSClass == 'alert-success'" (click)="redirectLogin()">Log In</button>
				</p-footer>
			</div>
        </div>
    <!-- </div>
</div> -->

<!-- <p-dialog header="Password Update" styleClass="col-md-3 col-12 no-header no-close" [(visible)]="modalMessage.Visibility" [modal]="true" [resizable]="false" [draggable]="false" [responsive]="true" [focusOnShow]="true" [minY]="70"
    (onHide)="onModalMessageClose()" [closable]="false">
    <div class="f-18 text-center">
        <div *ngIf="modalMessage.CSSClass === 'alert-success'">
            <h2 class="mb-2">Password Update</h2>
            <p><img src="./assets/images/ic_passcode.svg" class="img-fluid" alt="Passcode"></p>
            <p class="f-16 font-weight-bold my-4">Your password has been successfully updated</p>
            <p class="f-13">Please login using your new password</p>
        </div>

        <div *ngIf="modalMessage.CSSClass !== 'alert-success'">
            <p><img src="./assets/images/ic_error.svg" class="img-fluid" alt="Passcode"></p>
            <div [innerHTML]="modalMessage.Message" class="text-danger mb-3 py-3"></div>
        </div>

        <p-footer>
            <button type="button" class="btn btn-primary btn-block" *ngIf="modalMessage.CSSClass !== 'alert-success'" (click)="onModalMessageClose()">OK</button>
            <button type="submit" class="btn btn-primary btn-block" *ngIf="modalMessage.ActionStatus && modalMessage.CSSClass == 'alert-success'" (click)="redirectLogin()">Log In</button>
        </p-footer>
    </div>
</p-dialog> -->

<app-loader *ngIf="showLoader"></app-loader>
