<div class="row mx-0 h-100 justify-content-center align-items-center changerestpassword">
    <div class="col-12 col-md-12 mx-auto" role="region" aria-label="Password">
        <div class="sticky-section py-3 px-3">
            <h2 class="mb-0 f-20 table-header">Change Password</h2>
            <div class="row px-3 py-0 d-flex align-items-center mt-1 f-16">
                <p class="pb-0 mb-2 f-14"><strong>Your password must include each of the following:</strong></p>
                <!-- </div>
                    <div class="row px-0 py-0 d-flex align-items-center mb-2"> -->
                <ul class="px-3 pb-0 mb-0 f-14" style="margin-left: 5px;">
                    <li class="" style="margin-bottom: 6px">Minimum of 8 characters length</li>
					<li class="" style="margin-bottom: 6px">Maximum of 15 characters length</li>
                    <li class="" style="margin-bottom: 6px">At least one upper case letter</li>
                    <li class="" style="margin-bottom: 6px">At least one lower case letter</li>
                    <li class="" style="margin-bottom: 6px">At least one number</li>
                    <li>At least one special character</li>
                </ul>
            </div>
			<div class="form-group mb-2">
				<!-- <div class="col-12 px-0 py-0"> -->
				<label class="required py-0 f-16 table-header" style="padding: 5px 0px !important">Current Password </label>
				<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="row px-0 py-0 d-flex align-items-center mb-2 mt-1"> -->

				<div class="input-group mb-3">
					<div class="input-group-prepend" style="right: 0">
						<span class="input-group-text">
							<!-- <img src="./assets/images/ic_view.svg" alt="Password"> -->
							<i *ngIf="prevPWD != ''" style="cursor:pointer" [ngClass]="showOldPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"  (click)="showOldPassword = !showOldPassword"></i>
						</span>
					</div>
					<div class="col-12 px-0 py-0">
						<input [type]="showOldPassword ? 'text' : 'password'"  class="form-control" placeholder="Enter Current Password" [(ngModel)]="prevPWD" maxlength="15" (ngModelChange)="comparePwd()" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$"/>
					</div>
				</div>
				<!-- </div> -->
			</div>
			<div class="form-group mb-2">
				<!-- <div class="col-12 px-0 py-0"> -->
				<label class="required py-0 f-16 table-header" style="padding: 5px 0px !important">New Password</label>
				<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="row px-0 py-0 d-flex align-items-center mb-2 mt-1"> -->
				<div class="input-group mb-3">
					<div class="input-group-prepend" style="right: 0">
						<span class="input-group-text">
							<!-- <img src="./assets/images/ic_view.svg" alt="Password"> -->
							<i *ngIf="newPWD != ''" style="cursor:pointer" [ngClass]="showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"  (click)="showNewPassword = !showNewPassword"></i>
						</span>
					</div>
					<div class="col-12 px-0 py-0">
						<input [type]="showNewPassword ? 'text' : 'password'"  class="form-control mt-1" placeholder="Enter New Password" [(ngModel)]="newPWD" maxlength="15"  (ngModelChange)="newPWD && newPWD.length > 0 && confirmPWD && confirmPWD.length > 0 && comparePwd()" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$"
							autocomplete="off" (focus)="opPasswordInfo.show($event)" (input)="onPasswordTexted($event.target.value)" (focusout)="opPasswordInfo.hide()" />


						<p-overlayPanel #opPasswordInfo [showCloseIcon]="false" [dismissable]="false" styleClass="changerestpassword-overlay">
							<ul class="mb-0 f-13">
								<li [class]="passwordTooltip.MinCharacter.Style">{{passwordTooltip.MinCharacter.Text}}</li>
								<li [class]="passwordTooltip.UpperCase.Style">{{passwordTooltip.UpperCase.Text}}</li>
								<li [class]="passwordTooltip.LowerCase.Style">{{passwordTooltip.LowerCase.Text}}</li>
								<li [class]="passwordTooltip.Numbers.Style">{{passwordTooltip.Numbers.Text}}</li>
								<li [class]="passwordTooltip.SpecialCharacters.Style">{{passwordTooltip.SpecialCharacters.Text}}</li>
							</ul>
						</p-overlayPanel>
					</div>
				</div>
				<!-- </div> -->
			</div>
			<div class="form-group mb-3">
				<!-- <div class="col-12 px-0 py-0"> -->
				<label class="required py-0 f-16 table-header" style="padding: 5px 0px !important">Confirm Password </label>
				<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="row px-0 py-0 d-flex align-items-center mb-3 mt-1"> -->
				<div class="input-group mb-3">
					<div class="input-group-prepend" style="right: 0">
						<span class="input-group-text">
							<!-- <img src="./assets/images/ic_view.svg" alt="Password"> -->
							<i *ngIf="confirmPWD != ''" style="cursor:pointer" [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"  (click)="showConfirmPassword = !showConfirmPassword"></i>
						</span>
					</div>
					<div class="col-12 px-0 py-0">
						<input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" placeholder="Enter Confirm Password" [(ngModel)]="confirmPWD" maxlength="15" (ngModelChange)="newPWD && newPWD.length > 0 && confirmPWD && confirmPWD.length > 0 && comparePwd()" autocomplete="off" />
					</div>
				</div>
				<!-- </div> -->
			</div>
            <div class="form-group px-0 py-0 d-flex align-items-center mt-1" *ngIf="isPWDNotMatch">
                <div class="col-12 d-flex px-0 alert alert-danger">
                    <span class="pl-2 f-14">{{ isPWDNotMatch }}</span>
                </div>
            </div>
            <div class="row px-0 py-0 d-flex align-items-center my-2">
                <div class="col-12 d-flex justify-content-end px-3">
                    <button type="button" class="btn btn-outline-primary" (click)="cancelFunction()">Cancel</button>
                    <button type="button" class="btn btn-accept ml-3" [disabled]="!prevPWD || !newPWD || !confirmPWD || !isPWDValid(newPWD) || !isPWDValid(confirmPWD) || (prevPWD === newPWD) || isPWDNotMatch.length > 0" (click)="onSubmit()" style="min-width: 72px !important">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div>
</div> -->

<p-dialog header="Change Password" styleClass="no-header" [closable]="false" [(visible)]="modalMessage.Visibility" [modal]="true" [appendTo]="'body'" [blockScroll]="true" [resizable]="false" [draggable]="false" [responsive]="true" [focusOnShow]="true"
    [minY]="70" [baseZIndex]="10000" (onHide)="onModalMessageClose()">
    <div class="sticky-section f-18 text-center">
        <div *ngIf="modalMessage.CSSClass === 'alert-success'">
            <h2 class="mb-4 text-center">Done!</h2>
            <img src="./assets/images/ic_done.svg" width="72" class="d-block img-fluid mx-auto mb-4" alt="Done">
            <p>The password has been successfully changed.</p>
        </div>

        <div *ngIf="modalMessage.CSSClass !== 'alert-success'">
            <p><img src="./assets/images/ic_error.svg" class="img-fluid" alt="Passcode"></p>
            <div [innerHTML]="modalMessage.Message" class="text-danger mb-3 py-3"></div>
        </div>

        <p-footer>
            <button type="button" class="btn btn-primary btn-block" *ngIf="modalMessage.CSSClass !== 'alert-success'" (click)="onModalMessageClose()">OK</button>
            <button type="submit" class="btn btn-primary btn-block" *ngIf="modalMessage.CSSClass === 'alert-success'" (click)="onModalMessageClose()">Log In</button>
        </p-footer>
    </div>
</p-dialog>

<app-loader *ngIf="showLoader"></app-loader>
